!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Workspace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
   %header.header
   .header-left
   .header-logo
   %a.header-logo-link{"data-no-turbolink" => "true", :href => root_path} ChatApp
   .header-right
   %ul.nav.nav-tabs
   %li.search-user-btn{:role => "presentation"}
   %a{"data-no-turbolink" => "true", :href => "/users/search"} ユーザーを探す
   %li.dropdown{:role => "presentation"}
   %div{"aria-expanded" => "false", "data-toggle" => "dropdown", :role => "button"}
   \\{@current_user.name)
   %span.caret
   %ul.dropdown-menu.user-menu-box{:role => "menu"}
   %li.user-menu-list{:role => "presentation"}
   %a{:href => "/users/:id"} マイページ
   %li.user-menu-list{:role => "presentation"}
   %a{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow"} ログアウト
   %p.notice= notice
   %p.alert= alert
   = yield
   #react-main
